.body{
    background-color: #2F9CEB;
}


.center{
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none;
}
/* le bouton pour se connecter */
.box input[type="submit"] {
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #83e3de;
    padding: 14px 40px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type="submit"]:hover {

    background: #83e3de;

}

/* fin pour le bouton se connecter */